[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/rake"]
	path = bundle/rake
	url = https://github.com/tpope/vim-rake.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "bundle/liquid"]
	path = bundle/liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "bundle/rvm"]
	path = bundle/rvm
	url = https://github.com/csexton/rvm.vim.git
[submodule "bundle/jekyll"]
	path = bundle/jekyll
	url = https://github.com/csexton/jekyll.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
